body {
  color: black;
}
.show {
  display: block;
}
.hide {
  display: none;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
/* 
            <p className={props.questionClass}>{props.item.question}</p>
*/
/* bg-pink flex justify-start px-2 py-4 rounded-3xl w-1/2 break-words */
.question {
  background-color: #911354;
  padding: 20px 10px;
  border-radius: 1.5rem;
  width: 50%;
  word-wrap: break-word;
}
.qh {
  display: none;
}
.ah {
  display: none;
}
.answer {
  background-color: #911354;
  margin-left: auto;
  padding: 20px 10px;
  border-radius: 1.5rem;
  width: 50%;
  word-wrap: break-word;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
