body {
  color: black;
  overflow: auto;
}
.show {
  display: block;
}
.hide {
  display: none;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.question {
  background-color: #696969;
  padding: 20px 10px;
  border-radius: 1.125rem 1.125rem 1.125rem 0;
  width: 50%;
  word-wrap: break-word;
}
.qh {
  display: none;
}
.ah {
  display: none;
}
.answer {
  background-color: #7f7f80;
  margin-left: auto;
  padding: 20px 10px;
  border-radius: 1.125rem 1.125rem 0 1.125rem;
  width: 50%;
  word-wrap: break-word;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.buttonIn {
  width: 100%;
  position: relative;
}

.input {
  margin: 0px;
  padding: 16px;
  width: 100%;
  height: 50px;
  border-radius: 500px;
}

.butto {
  position: absolute;
  top: 0;
  border-radius: 5px;
  right: 0px;

  border: none;
  height: 50px;
  cursor: pointer;
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* media Querries*/
@media screen and (max-width: 1024px) and (min-width: 768px) {
  .screen {
    width: 80%;
  }
  .buttongrid {
    width: 70%;
  }
  .buttons {
    width: 118px;
  }
}

@media screen and (max-width: 767px) and (min-width: 500px) {
  .screen {
    width: 80%;
  }
  .buttongrid {
    width: 65%;
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  .buttons {
    width: 108px;
  }
  .question {
    background-color: #911354;
    padding: 20px 10px;
    border-radius: 1.5rem;
    width: 70%;
    word-wrap: break-word;
  }
  .answer {
    background-color: #911354;
    margin-left: auto;
    padding: 20px 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 1.5rem;
    width: 70%;
    word-wrap: break-word;
  }
}
@media screen and (max-width: 499px) and (min-width: 320px) {
  .screen {
    width: 90%;
  }
  .buttongrid {
    width: 100%;
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  .buttons {
    width: 100px;
  }
  .question {
    background-color: #911354;
    padding: 20px 10px;
    border-radius: 1.5rem;
    width: 80%;
    word-wrap: break-word;
  }
  .answer {
    background-color: #911354;
    margin-left: auto;
    padding: 20px 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 1.5rem;
    width: 80%;
    word-wrap: break-word;
  }
}
